@import "tailwindcss";

@keyframes float {
    0%,100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }
}

@keyframes blink {
    0%,46%,100% {
        transform: scaleY(1);
    }

    48%,50% {
        transform: scaleY(0.1);
    }
}

@keyframes talk {
    0%,100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(1.8);
    }
}